/* Ensure the entire page is centered */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Flexbox for the container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Optional: Full viewport height */
}

/* Flexbox for the upload area */
#upload-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    padding: 20px;
    width: 300px; /* Adjust width as necessary */
    height: 200px; /* Adjust height as necessary */
    margin-bottom: 20px; /* Adds space between the upload area and input fields */
}

/* Styling for the image */
#upload-view img {
    max-width: 100px; /* Ensure the image scales well */
    height: auto; /* Maintain aspect ratio */
}


#drop-area img {
    max-width: 100px;
}

#drop-area p {
    margin: 10px 0 0 0;
}

/* Style for input fields */
.input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-fields input {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

