<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Drag and Drop File Uploader</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="hero">
        <label for="input-file" id="drop-area">
            <input type="file" id="input-file" accept=".csv" hidden>
            <div id="img-view">
                <img src="icon.png">
                <p> Drag and drop a CSV file <br> to upload into program</p>
                <span> Upload any CSV file from desktop</span>
            </div>
        </label>
    </div>

<script src="/static/script.js"></script>

</body>
</html>